.barra_opciones {
    height: 50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.section-title {
    font-size: 2em;
    margin-left: 3%
}

/*     Menu     */

.menu-section {
    width: 99%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.menu-item {
    margin-top: 10px;
    margin-left: 2%;
    padding-bottom: 10px;
    width: 47%;
    height: 100px;
    min-width: 360px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: row;
}

.item-icon {
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.item-info {
    width: 100%;
    height: inherit;
    margin-left: 2%
}

.item-title {
    height: 25%;
    font-size: 3ex;
}

.item-ingredients {
    font-size: 0.9em;
    height: 40%;
    margin-top: 3px;
    margin-bottom: 7px;
    word-break: keep-all;
    overflow: auto;
}

.item-footer {
    height: 25%;
    font-size: 2.5ex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-item {
    margin-right: 10%;
}

/* Pantallas con ancho menor a 330px (Galaxy Fold, pantallas muy angostas, etc) */
@media only screen and (max-width: 330px) {
    .add-item { margin-right: 1%;}
    .item-footer { font-size: 2ex; font-weight: bold; }
}

/* Pantallas con ancho menor a 960px (Celulares, ventanas achicadas, etc) */
@media only screen and (max-width: 960px) {
    .menu-item { min-width: 95%; }
}

/* Pantallas con ancho mayor de 960px (Computadoras, etc) */
@media only screen and (min-width: 960px) {
    .menu-item { min-width: 360px; }
}

/* CSS DEL CARRITO */

.order {
    visibility: hidden;
    background-color: chocolate;

    position: fixed;
    bottom: 2px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    width: 98%;
    margin: auto;
}

.order-information {
    background-color:  blueviolet;
    width: 60%;

    display: flex;
    flex-direction: column;
    
    margin-left: 5%;
}


#add-order {
    background-color: brown;
    margin-right: 20%;
    margin-left: 20%;
    width: 80%;
    height: 40px;
}

/* Pantallas con ancho menor a 330px (Galaxy Fold, pantallas muy angostas, etc) */
@media only screen and (max-width: 400px) {
    .item-icon { height: 60px; width: 60px; margin-top: 20px;}
    .add-order { margin-right: 10%; margin-left: 10%; }
}